body, html {
  background: #f1f1f1;
  color: black;
  font: 14pt/1.6em "Poppins", sans-serif;
  margin: 0.5em auto;
  height: 100%;
}

.pure-g [class *= "pure-u"] {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.inner-container {
  padding: 1em;
}

.sticky {
  position: fixed;
  top: 0;
}

.mobile-visible {
  display: none;
}

.social {
  margin-top: 1em;
  text-align: center;
}

.social a {
  margin: 0 1em;
  color: black;
  border: none;
  transition: color 800ms cubic-bezier(0.23, 1, 0.32, 1);
}

.social a:hover {
  color: #CA1D00;
  border: none;
}

hr {
  background: #fff;
  height: 1px;
  border: none;
  margin: 3em 0;
}

p {
  margin-bottom: 1em;
}

a {
  color: #CA1D00;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid;
}

blockquote {
  border-left: 4px solid #eee;
  color: #777;
  margin: 1em 0;
  padding: 0 1em;
}

ul, ol {
  margin: 1em 0 1em 2em;
}

ul {
  list-style-type: square;
}

li {
  margin: 1em 0;
}

h1, h2, h3 {
  line-height: 1.2em;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  color: #CA1D00;
}

h2 {
  font-size: 1.6em;
  margin: 1em 0;
}

aside {
  font-weight: 600;
  top: 1em;
}

aside .logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

aside .logo img {
  margin-bottom: 0.5em;
}

aside header {
  text-align: center;
}

aside nav {
  margin: 1em 0;
}

aside nav a {
  display: block;
  float: left;
  clear: both;
  margin: 0.7em;
  color: #CA1D00;
  border-bottom: 2px solid transparent;
}

pre, code {
  font-family: Monaco, monospace;
  font-size: 0.8em;
}

pre {
  background: #f3f3f3;
  padding: 0.5em 1em;
  margin: 1em 0;
  overflow: auto;
}

code {
  background: #eee;
  color: #333;
  border-radius: 3px;
  padding: 0.1em 0.2em;
}

footer {
  text-align: right;
}

@media screen and (max-width: 640px) {
  body, html {
    font-size: 1em;
    word-wrap: break-word;
  }

  h1, h2, h3, h4, h5 {
    margin: 0.5em 0;
  }

  .inner-container {
    padding: 0.6em;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-visible {
    display: block;
  }

  .mobile-menu {
    left: 0;
    padding: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
  }

  .mobile-logo {
    width: 50px;
    text-align: center;
  }

  .mobile-header {
    text-align: center;
  }

  aside.sidebar {
    background: #222;
    position: fixed;
    top: 0;
    height: 100%;
  }
}
